.pwd-txt {
  font-size: clamp(0.58rem, 2vw, 0.7rem);
  height: 17px;
  overflow: hidden;
  color: red;
  padding-left: 5px;
}

.pwd-img-container {
  width: 12px;
  height: 100%;
  cursor: pointer;
}
