.abd-img{
    height: 100%;
    width:100%
}

@media(min-width:768px){
    .outer{
        width: 87%;
    }
}

@media(min-width:992px){
    .outer{
        width: 77%;
    }
}

@media(max-width: 768px) {
    .abd-img{
       /* height: 93vh; */
    }
}